<h1> this is my server my name is mahesh </h1>
<h1> my node server os : {{ansible_os_family}} </h1>
<h1> my node server ip : {{ansible_all_ipv4_addresses}} </h1>
<h1> my node server java version : {{javaserpakonubuntu}}</h1>